<!-- header -->
  <ul class="nav-list">
    <li class="nav-list-item">
      <a>Home</a>
    </li>
    <li class="nav-list-item">About</li>
    <li class="nav-list-item">Topic</li>
    <li class="nav-list-item">Style</li>
  </ul>