<div class="wrapper">
<%= render "header" %>
  <div class="content-list">
    <div class="main-tweet">
    <% @tweets.each do |tweet| %>
    <%= image_tag tweet.image, size: '200x200' , class: "tweet-img" %>
<%# あえて気軽に見やすく画像のみをタイル式に羅列 %>
    <% end %>
    </div>
  </div>
  <%= render "footer" %>
</div>
<%# とりあえずむだなくした感じで実装してあとでつけていく %>

<%# 保存はできてるのでおそらく表示の仕方に問題ある %>
<%# 他のファイルみて直す %>
