
<div class="wrapper">
  <%= render "header" %>
<div class="content-list">
  <div class="main-text">本当に技術の合う美容師を見つけませんか？<br>
  ・Myhairsalonでは美容師自身が作ったスタイルのみを掲載しているので来店したら大幅に内容が違うといったことがありません。<br>
  ・コメントで事前に気になることを質問できるので不安なく来店することができます。</div>
  <div class="main-content">test
  <%= image_tag "style1.jpg", class:"style1" %>
  </div>



  <%= render "footer" %>
</div>
