<div class="wrapper">
<%= render "header" %>
  <div class="content-list">
    <div class="main-tweet">
    <% @tweets.each do |tweet| %>
    <%= link_to tweet_path(tweet.id), method: :get do %>
    <%= image_tag tweet.image, class: "tweet-img" %>
    <% end %>
    <% end %>
    <%# ここの記述はまだきれいに見える書き方あると思うendendは汚い %>
    </div>
  </div>
  <%= render "footer" %>
</div>
<%# とりあえずむだなくした感じで実装してあとでつけていく %>
