<div class="wrapper">
<%= render "tweets/header" %>
 
  <div class="content-list">
    <div class="user-show-description">
    スタイル検索結果
    </div>
    <div class="main-tweet">
    <% @tweets.each do |tweet| %>
    <%= link_to tweet_path(tweet.id), method: :get do %>
    <%= image_tag tweet.image, class: "tweet-img" %>
    <% end %>
    <% end %>
    <%# ここの記述はまだきれいに見える書き方あると思うendendは汚い %>
    </div>
  </div>
