<%= render "header" %>
<div class="form-wrapper">
  <h1>編集が完了しました。
  <p>
  <%= link_to "投稿一覧へ戻る", root_path, method: :get, class: "update-message" %>
  </h1>
</div>
<%# とりあえず保存には成功したのでここからカラム増やしたりしていく %>