/* ヘッダーCSS---------------------------------------------------- */
header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  background-color: rgb(57, 85, 142);
  color: white;
  display: flex;
  justify-content: space-between;
}
.site-title {
  margin-left: 20px;
  font-size: 30px;
  font-family: 'Playball', cursive;
}
.site-title p {
  font-size: 13px;
  margin-top: 10px;
  font-family: sans-serif
}
.search-form {
  padding: 10px 30px 0 0px;
  font-size: 13px;
  font-family: sans-serif
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  padding: 10px 0 0 0px;
  font-size: 13px;
  font-family: sans-serif
  /* メニュー一覧のあれこれ */
}

.nav-list-item a:hover {
  color: #dfdddd;
}

.nav-list-item a {
  text-decoration: none;
  color: white;
  /* リンク挿入しても文字色変えない、アンダーライン入らないようにしてる */
}
/* ヘッダーCSS---------------------------------------------------- */

/* フロントCSS---------------------------------------------------- */

.wrapper{
  min-height: 100vh;
  position: relative;

  /* フッターを下に固定 */
}

.main-tweet {
  display: flex;
  flex-wrap: wrap;
  /* 投稿画像を横並び */
}
.tweet-img {
  margin-left: 1px;
  height: 280px;
  width: 230px;
  object-fit: cover;
}
/* 投稿画像同士をわずかに空間作る */

/* フロントCSS----------------------------------------------------- */






/* フッターCSS----------------------------------------------------- */
.footer {
  background-color:rgb(57, 85, 142);
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
}
/* フッターCSS----------------------------------------------------- */




/* 詳細ページーCSS------------------------------------------------- */
.show-style {
  text-align: center;
}

.style-name {
  font-size: 25px;
  padding: 20px;
}

.tweet-img-show {
  height: 500px;
  width: 400px;
  margin: 0 auto;
  object-fit: cover;
  /* 自動トリミングでサイズ調整 */
}

.style-text {
  margin-top: 20px;
}

.show-style-change {
  display: flex;
  padding: 30px 0;
}

.edit-btn {
  color: #fff;
  background-color: #f16272;
  padding: 8px;
  border-radius: 10px;
  /* 丸くする効果 */
  margin: 0 auto;
}

.destroy-btn {
  background-color: rgb(219, 212, 212);
  padding: 8px;
  border-radius: 10px;
  margin: 0 auto;
  text-decoration: none;
}

.destroy-btn a {
 text-decoration: none;
 color: #5E5E5E;
/* 詳細ページーCSS------------------------------------------------- */